@font-face {
    font-family: Font;
    src: url(/fonts/file.woff2);
}

@font-face {
    font-family: Font1;
    src: url(/fonts/file-1.woff2);
}

@font-face {
    font-family: Font2;
    src: url(/fonts/file-2.woff2);
}

@font-face {
    font-family: Font3;
    src: url(/fonts/file-3.woff2);
}

@font-face {
    font-family: Font4;
    src: url(/fonts/file-4.woff);
}


a {
    cursor: pointer;
}

*,
a,
p {
    /* font-family: Arial,Helvetica,sans-serif; */
    font-family: Font;
}

.line-big {
    height: 1px;
    background: #935a4b;
    width: 50px;
    margin: 25px auto;
}

.line {
    height: 1px;
    background: #935a4b;
    width: 30px;
    margin: 10px auto;
}

header {
    height: 130px;
    position: sticky;
    top: 0;
    background: #302e2e;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
}

header .header {
    max-width: 100%;
    width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .header .menu {
    display: flex;
    flex: 1;
}

header .menu a {
    color: white;
    font-size: 14px;
    flex: 1;
    display: inline-block;
    font-family: Font4;
    text-align: center;
}
header .menu a.active{
    color: rgb(212, 177, 140);
}

header button {
    margin-left: 20px;
}

.btn.btn-primary {
    height: 34px;
    border: 0;
    border-radius: 0;
    background: #935a4b;
    color: white;
    font-size: 15px;
    font-family: Font1;
}

#dentistry {
    padding-top: 80px;
}

#dentistry h3 {
    color: rgb(147, 90, 75);
    letter-spacing: 1.12px;
    font-size: 24px;
    text-align: center;
    font-family: Font2;
}

#dentistry p {
    color: rgb(50, 65, 88);
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 1.12px;
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: Font;
}

#about-us {
    background: rgb(242, 242, 242);
}

#about-us {
    text-align: center;

}

#about-us .content {
    padding: 60px 100px;
}

#about-us h3 {
    color: rgb(147, 90, 75);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Font;
}

#about-us h4 {
    font-size: 30px;
    font-family: Font2;
    letter-spacing: 0.9;
    margin: 0;
    margin-bottom: 14px;
    line-height: 33px;
}

#about-us p {
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 30px;
}

#our-expertise {
    padding-top: 70px;
}

#our-expertise h3 {
    color: rgb(147, 90, 75);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Font;
    text-align: center;
}

#our-expertise .banner {
    height: 600px;
    text-align: center;
    background-image: url(./../img/exp-1.webp), url(./../img/exp-2.webp);
    background-position: left center, right center;
    background-repeat: no-repeat;
}

#our-expertise .banner h4 {
    margin-top: 211px;
    font-size: 30px;
    font-family: Font2;
    letter-spacing: 0.9;
    margin-bottom: 40px;
    line-height: 33px;
    color: #935a4b;
}

#our-expertise .banner .btn.btn-primary {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#our-expertise .face {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#our-expertise .face img {
    height: 250px;
    border-radius: 125px;
    width: 250px;
    margin-bottom: 32px;
}

#our-expertise .face h5 {
    font-size: 24px;
    font-family: Font2;
    color: rgb(40, 43, 52);
    line-height: 31.2px;
    width: 190px;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
}

#our-expertise .face p {
    font-size: 14px;
    margin-bottom: 50px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#our-team {
    background-color: #fafafa;
    padding-top: 60px;
}

#our-team h3 {
    color: rgb(147, 90, 75);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Font;
    text-align: center;
}

#our-team .content {
    text-align: center;
    padding-top: 112px;
}

#our-team .content h2 {
    color: rgb(51, 51, 51);
    font-size: 38px;
    font-family: Font2;
    letter-spacing: 1.14px;
    line-height: 41.8px;
    margin-bottom: 17px;
}

#our-team .content p {
    font-style: italic;
    font-size: 15px;
    letter-spacing: 0.45px;
    line-height: 22.5px;
    color: rgb(150, 150, 150);
    margin-bottom: 50px;
}

#our-team .content .btn.btn-primary {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

#our-team .content2 {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
}

#our-team .content2 img {
    width: 213px;
    height: 213px;
    border-radius: 50%;
}

#our-team .content2 p {
    font-style: italic;
    font-size: 15px;
    letter-spacing: 0.45px;
    line-height: 22.5px;
    color: rgb(150, 150, 150);
    margin-bottom: 50px;
}

#our-team .content2 h5 {
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-family: Font2;
    letter-spacing: 0.9px;
    line-height: 41.8px;
    margin-bottom: 66px;
    margin-top: 33px;

}

#our-team-2 {
    padding-top: 30px;
}

#our-team-2 .face {
    text-align: center;
    padding: 20px;
}

#our-team-2 .face img {
    height: 194px;
    width: 194px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#our-team-2 .face h5 {
    color: rgb(147, 90, 75);
    font-size: 26px;
    margin-bottom: 20px;
    font-family: Font2;
}

#our-team-2 .face p {

    color: rgb(150, 150, 150);
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.45px;
    line-height: 22.5px;
}

#contact-us {
    background: rgb(250 250 250);
    padding: 30px 0;
}

form.makenew h3,
#contact-us h3 {
    color: rgb(147, 90, 75);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Font;
    text-align: center;
}

form.makenew {
    background: white;
    padding: 20px 40px;
}

form.makenew label {
    color: rgb(150, 150, 150);
    font-size: 14px;
    margin-top: 15px;
}

form.makenew select,
form.makenew input {
    border: 0;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-size: 14px;
    border-radius: 0;
    /* appearance: none; */
}

form.makenew .btn.btn-primary {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#contact-us h4 {
    color: rgb(41, 41, 41);
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Font2;
    margin-bottom: 27px;
    margin-top: 37px;
}

#contact-us a {
    text-decoration: underline;
    display: block;
    width: 70%;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 30px;
}

#contact-us p img,
#contact-us a img {
    position: absolute;
    height: 20px;
    margin-left: -30px;
}

#contact-us a img svg {
    fill: #935a4b;
}

#contact-us p {
    padding-left: 30px;
    display: block;
    width: 70%;
    font-size: 16px;
}

#our-partners {
    padding: 50px 0;
}

#our-partners h3 {
    color: rgb(147, 90, 75);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Font;
    text-align: center;
}

#our-partners .partners {
    text-align: center;
}

#our-partners .partners img {
    margin: 10px;
}

footer {
    text-align: center;
    background: #282b34;
    height: 50px;
    padding-top: 12px;
}

footer a {
    font-size: 14px;
    font-family: Font3;
    color: white !important;
}

#slider .carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin: 5px;
}

#slider .carousel-indicators li.active {
    height: 7px;
    width: 7px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid white;
    margin: 4px;
}

#career .question a:active,
#career .question a {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 53px;
    color: #fff5;
    font-size: 20px;
    font-family: Font2;
    line-height: 43px;
    text-align: left;
    background-color: #935a4b;
}

#career .question a:focus {
    outline: 0;
    box-shadow: none;
}

#career .question .content {
    padding: 20px;
}

#career .question h4 {
    font-family: Font2;
    color: rgb(41, 41, 41);
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;

}

#career .question ul {
    margin-bottom: 30px;
}

#career .question li {
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 1.95px;
}

.career-foot {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.12px;
    width: 992px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 300px;
    margin-bottom: 50px;
}

.career-foot a {
    color: #935a4b;

}

.plus {
    display: inline-block;
    height: 5px;
    width: 25px;
    background: white;
    opacity: 0.4;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.plus::after {
    content: none;
    position: absolute;

    height: 25px;
    width: 5px;
    background: white;
    top: -10px;
    left: 10px;

}

.collapsed .plus::after {
    content: '';
}

#meet-team {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 70px;
}

#meet-team .leader {
    text-align: center;
}

#meet-team .leader img {
    width: 250px;
    height: 250px;
    border-radius: 175px;
}

#meet-team .leader h3 {
    color: rgb(51, 51, 51);
    font-size: 38px;
    letter-spacing: 1.14px;
    line-height: 41.8px;
    font-family: Font3;
    margin-top: 40px;
    margin-bottom: 30px;
}

#meet-team .leader p {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-family: Font3;
    font-style: italic;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
}

#meet-team .des {
    margin-bottom: 50px;
    margin-top: 30px;
}

#meet-team .des p {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: Font4;
}

#meet-team .member {
    padding: 50px 0;
    padding-left: 250px;
    position: relative;
}

#meet-team .member img {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 110px;
    left: 0;
}

#meet-team .member h3 {
    color: rgb(51, 51, 51);
    line-height: 38.5px;
    letter-spacing: 1.05px;
    font-size: 35px;
    font-family: Font3;
}

#meet-team .member h5 {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-family: Font3;
    font-style: italic;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
}

#meet-team .member p {
    color: rgb(0, 0, 0);
    font-family: Font4;
    font-size: 17px;
    line-height: normal;
}
 
